<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致
    id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.bing.ddup.dao.UserMapper">
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路径 -->
	<!-- parameterClass="map" resultType="java.util.HashMap" resultType="com.bing.ddup.model.User" -->
	<select id="login" parameterType="com.bing.ddup.model.User" resultType="com.bing.ddup.model.User">
	    SELECT * FROM user_T WHERE account=#{account} and password=#{password} and isDel=0;
	</select>
	
	<select id="infoUser" parameterType="com.bing.ddup.model.User" resultType="com.bing.ddup.model.User">
	    SELECT * FROM user_T WHERE id=${id}
	</select>
	
	<select id="listUser" parameterType="com.bing.ddup.model.User" resultType="java.util.HashMap">
	    SELECT * FROM user_T where 1=1
	    <if test="isDel==null"> and isDel=0 </if>
	    <if test="isDel==1"> and isDel=1 </if>
	    <if test="account!=null"> and account=#{account}</if>
	</select>
	
	<select id="list" parameterType="map" resultType="java.util.HashMap">
	    SELECT * FROM user_T where 1=1
	    <if test="isDel==null"> and isDel=0 </if>
	    <if test="isDel==1"> and isDel=1 </if>
	    <if test="keyword!=null and keyword!=''"> and name like '%${keyword}%'</if>
		<if test="sortNum!=null"> Order By ${sortName} ${sortOrder}</if>
		<if test="sortStr!=null"> Order By Convert(${sortName} using GBK) ${sortOrder}</if>
	   	<if test="startCount!=null"> Limit ${startCount}, ${pageSize}</if>
	</select>
	
	<select id="count" parameterType="map" resultType="java.lang.Integer">
	    SELECT COUNT(id) FROM user_T where 1=1
	    <if test="isDel==null"> and isDel=0 </if>
	    <if test="isDel==1"> and isDel=1 </if>
	    <if test="keyword!=null and keyword!=''"> and name like '%${keyword}%'</if>
	</select>
	
	<insert id="insertUser" parameterType="com.bing.ddup.model.User" flushCache="true">
		INSERT INTO user_T (account,name,password) VALUES (#{account}, #{name}, #{password})
		<selectKey resultType="java.lang.Integer" keyProperty="id">
			<![CDATA[ SELECT LAST_INSERT_ID() AS ID ]]>
		</selectKey>
	</insert>
	
	<update id="updateUser" parameterType="com.bing.ddup.model.User">
		UPDATE user_T SET id=#{id} 
	    <if test="#{account}!=null"> ,account=#{account}</if>
	    <if test="#{name}!=null"> ,name=#{name}</if>
	    <if test="#{password}!=null"> ,password=#{password}</if>
	    WHERE id=#{id}
	</update>
	
	<delete id="deleteUser" parameterType="int">
	    UPDATE user_T SET isDel=1 WHERE id=#{id}
	</delete>
	
	<delete id="destroyUser" parameterType="int">
	    DELETE FROM user_T WHERE id=#{id}
	</delete>
</mapper> 