<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bing.ddup.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.bing.ddup.model.User">
        <id column="UID" property="uid" jdbcType="INTEGER"/>
        <result column="UNAME" property="uname" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="USER_TYPE" property="userType" jdbcType="TINYINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="STATUS" property="status" jdbcType="TINYINT"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="SALT" property="salt" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        UID, UNAME, USERNAME, ACCOUNT, PASSWORD, USER_TYPE, CREATE_TIME, UPDATE_TIME, STATUS, REMARK,
        SALT
    </sql>

    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where username = #{username} and password=#{password}
    </select>
    <select id="findByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where username = #{username}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where UID = #{uid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_info
        where UID = #{uid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.bing.ddup.model.User">
        insert into user_info (UID, UNAME, USERNAME, ACCOUNT,
          PASSWORD, USER_TYPE, CREATE_TIME,
          UPDATE_TIME, STATUS, REMARK,
          SALT)
        values (#{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
          #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR},
          #{salt,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bing.ddup.model.User">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                UID,
            </if>
            <if test="uname != null">
                UNAME,
            </if>
            <if test="username != null">
                USERNAME,
            </if>
            <if test="account != null">
                ACCOUNT,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
            <if test="userType != null">
                USER_TYPE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="salt != null">
                SALT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="uname != null">
                #{uname,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{USERNAME,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bing.ddup.model.User">
        update user_info
        <set>
            <if test="uname != null">
                UNAME = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                ACCOUNT = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                USER_TYPE = #{userType,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                SALT = #{salt,jdbcType=VARCHAR},
            </if>
        </set>
        where UID = #{uid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bing.ddup.model.User">
        update user_info
        set UNAME = #{uname,jdbcType=VARCHAR},
          USERNAME = #{username,jdbcType=VARCHAR},
          ACCOUNT = #{account,jdbcType=VARCHAR},
          PASSWORD = #{password,jdbcType=VARCHAR},
          USER_TYPE = #{userType,jdbcType=TINYINT},
          CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
          UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
          STATUS = #{status,jdbcType=TINYINT},
          REMARK = #{remark,jdbcType=VARCHAR},
          SALT = #{salt,jdbcType=VARCHAR}
        where UID = #{uid,jdbcType=INTEGER}
      </update>
</mapper>